<section>
    <div class="admin-container">
      <div class="admin-main">
         <a href="/admin/userverification">
          User verification
         </a>
         <a href="">
          Users
         </a>
         <a href="/admin/view-photos">
           Photos
         </a>

        
      </div>
    </div>

</section>