<section>
    <div class="veri-container">
        {{#each userrequests}}
        <div class="veri-card">
            <div class="veri-doc">

            </div>
            <div class="veri-doc">

            </div>
            <div class="veri-det">
               <div class="veri-user-det">

               </div>
               <div class="veri-det-btn">
                 <a href="" class="veri-btn ac">Accept</a>
                 <a href="" class="veri-btn re">Reject</a>
               </div>

            </div>

        </div>
        {{/each}}



    </div>


</section>