<section>
  <div class="userlist-main">
        <div class="userlist-container">
            <div class="userlist-heading">
                <h2>{{heading}}</h2>
            </div>
             {{#each users}}
             <div class="userlist-username">
                <a class="no-link"  href="/viewuserprofile/{{this}}"><p>{{this}}</p></a>
            </div>

           {{/each}}
            
            
        </div>

    </div>

</section>