<section class="imgdetbg">
    <div class="imgdet-main">
        <div class="imgdet-container">
            <div class="imgdet-card">
                <img src="/photos/{{photos._id}}.jpg" class="imgdet-img"> 
                
            </div>
            
            <p>{{photos.Title}}</p>
            <p>{{photos.Description}}</p>
            
        </div>

    </div>
    <br><br><br><br><br>
</section>