<section>
   <div class="loginmain">
        <div class="logincontainer">

     
        <form action="/login" method="POST">

          <input type="email" placeholder="Email" name="Email" class="logininput"><br>
          <input type="text"  placeholder="Otp" name="otp" class="logininput"><br>
          <input type="password" placeholder="Password" id="pass1" name="Password" class="logininput"><br>
          <input type="password" placeholder="Confirm-Password" id="pass2" class="logininput"><br>

          <button type="submit" class="btn-login">reset</button>
      

        </form>
     
    </div>
   </div>
</section>