<section>
  <div class="userlist-heading">
                 <input type="text" id="uname" class="searchTerm" placeholder="Enter Username" oninput="search()">
            </div>
<div class="userlist-main">
        <div class="userlist-container">
            
            
              <div class="username">
                       
              </div>

      
            
            
        </div>

    </div>
 

</section>
<script>
  function search(){

     var uname=document.getElementById('uname').value;
     var outerdiv=document.querySelector('.username');
     outerdiv.innerHTML="";
     if(uname!=""){
     $.ajax({
      url:'/Search',
      data:{
        uname:uname
        },
      method:'post',
      success:(res)=>{
        let div=document.createElement('div');
        console.log(res);
        let content;
       
        for(i=0;i<res.length;i++){
              div.classList.add('userouterdiv');
              content='<div class="userlist-username"><a class="no-link" href="/viewuserprofile/'+res[i].Username+'">'+res[i].Username+'</a></div></div>';
              div.innerHTML=content;
              outerdiv.appendChild(div);
        }
        
      }
    })
     }
  }
</script>

