<section >
 <form method="post" action="/signup">
  <div class="signupbg">


      <!-- Slider main container -->
    <div class="signup-card">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            
            <h2>Welcome</h2>
            <h3>Enter Emailid</h3>
            <input
              spellcheck="false"
              oninput="mailidSearch()"
              type="email"
              id="mailid"
              name="Emailid" 
              placeholder="Email"
            />
            <button disabled type="button" id="emailsubbtn" onclick="gotoSlide(1);otpVerification()">Next</button>
          </div>
          <div class="swiper-slide">
            
            <h2>Verify Email</h2>
            <h3>Enter the otp recived in your email</h3>
            <input
              oninput="checkValid(event);checkOtp()"
              type="text" 
              id="otp"
              type="text"
              placeholder="otp"
            />
            <button disabled type="button" id="butt" onclick="gotoSlide(2)">Next</button>
          </div>
          <div class="swiper-slide">
            
            
            <h3>Create your username and password</h3>
            <input
              spellcheck="false"
              name="Username"
              id="uname"
              oninput="userSearch()"
              type="text"
              placeholder="Username"
            />
            <input
              spellcheck="false"
              name="Password"
              id="pass1"
              type="password"
              placeholder="Password"
            />
             <input
              spellcheck="false"
              id="pass2"
              oninput="checkPass()"
              type="password"
              placeholder="Conform Password"
            />
            <button disabled type="button" id="un" onclick="gotoSlide(3)">Next</button>
          </div>
          <div class="swiper-slide">

            <h2>Finish</h2>
            <h3>You're all good to go</h3>
            <button type="submit">Complete</button>
            <button class="secondary" onclick="restart()">Restart</button>
          </div>
        </div>
        <!-- If we need pagination -->
        
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </form>  
</section>

<script>

  var genotp;
  function otpVerification() {

    let mailid = document.getElementById('mailid').value

    $.ajax({
      url: '/verify-otp',
      data: {
        mailid: mailid
      },
      method: 'post',
      success: (response) => {
        
        if (response.respo) {
          genotp=response.otp
        } else {
          alert("Emailid does not exist")

        }
      }

    })
  }
  function checkOtp() {
    
    inpotp = document.getElementById('otp').value
    if (inpotp === genotp) {
      $('#butt').removeAttr("disabled");
    } else {
      $('#butt').attr('disabled', 'disabled');
    }
  }
  function mailidSearch(){
    let mailid = document.getElementById('mailid').value
    $.ajax({
      url:'/mailidSearch',
      data:{
        mailid:mailid
        },
      method:'post',
      success:(res)=>{
        if(mailid.trim()!=""){
        if(res.found ){
           $('#mailid').css('border', function(){
        
            return 'solid 1px #f00';
        
        }).change()
        $('#emailsubbtn').attr('disabled', 'disabled');
        }
        else{
         $('#mailid').css('border', function(){
        
            return 'solid 1px rgba(0, 0, 0, 0.16)';
        
        }).change()
        $('#emailsubbtn').removeAttr('disabled')
        }

        }else{
          $('#mailid').css('border', function(){
        
            return 'solid 1px rgba(0, 0, 0, 0.16)';
        
        }).change()
        }
        

        
      }
    })
  }
  function userSearch(){
    uname=document.getElementById('uname').value
    $.ajax({
      url:'/userSearch',
      data:{
        uname:uname
        },
      method:'post',
      success:(res)=>{
       if(uname.trim()!=""){
          if(res.found ){
           $('#uname').css('border', function(){
        
            return 'solid 1px #f00';
        
        }).change()
        }
        else{
         $('#uname').css('border', function(){
        
            return 'solid 1px rgba(0, 0, 0, 0.16)';
        
        }).change()
        }
       }else{
         $('#uname').css('border', function(){
        
            return 'solid 1px rgba(0, 0, 0, 0.16)';
        
        }).change()
        } 
        
        
      }
    })
  }
  function checkPass() {
    let pass1 = document.getElementById('pass1').value
    let pass2 = document.getElementById('pass2').value
    if (pass1 === pass2) {
      $('#un').removeAttr("disabled");
    } else {
      $('#pass1').css('border', function(){
        
            return 'solid 1px rgba(0, 0, 0, 0.16)';
        
        }).change()
        $('#pass2').css('border', function(){
        
            return 'solid 1px rgba(0, 0, 0, 0.16)';
        
        }).change()
      $('#un').attr('disabled', 'disabled');
    }
  }
</script>
