<section>
    {{#each users}}

<div class="userouterdiv">
  <div class="userprofilediv">
    <div class="usernamediv">
        <span><a class="no-link" href="/message/{{this.Username}}">{{this.Username}}</a></span>
        <span class="msgnoti" id="{{this.Username}}" ></span>
     </div>
  </div>
  
</div>

{{/each}}
<script src="/javascripts/client.js"></script>
</section>