<section>
    <div class="userlist-heading">
                <h2>{{heading}}</h2>
            </div>
  <div class="userlist-main">
        <div class="userlist-container">
            
             {{#each users}}
             <div class="userlist-username">
                <a class="no-link"  href="/message/{{this.Username}}"><p>{{this.Username}}</p></a>
            </div>

           {{/each}}
            
            
        </div>

    </div>

</section>