<section>
  <div class="userlist">
    {{#each users}}

<div class="userouterdiv">
  
    <div class="usernamediv">
        <span><a class="no-link"  href="/message/{{this.Username}}">{{this.Username}}</a></span>
        
        <span  id="user" hidden>{{this.Username}}</span>
     </div>
  
  
</div>

{{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>


 
<script src="/javascripts/client.js"></script>
</section>