@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/***********login*********************/



body {
  height: 100%;
}


:root {
  --light-blue: #41aae7;
  --inp: #09c1ce;
  --inpdark: #00eeff;
  --bglight: #c7baba;
  --cardlight: #faeaea;
  --bgdark: #0e0c0c;
  --carddark: rgb(0, 0, 0);

}

.loginmain {

  position: absolute;
  width: 100%;
  height: 100%;




}



.logincontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  border-radius: 1.2rem;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(8px);
  box-shadow: 0px 5px 25px #000000;

}
.logincontainer .user-box {
  position: relative;
}
.logincontainer .user-box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.logincontainer .user-box label{
   position: absolute;
   top: -20px;
   left: 0;
   padding: 10px 0;
   font-size:16px;
   font-weight: 600;
   color: black;
   pointer-events: none;
   transition: .5s;
}



.btn-login {
  padding: 0.3rem 8.2rem;
  margin-left: 3px;
  border-radius: 15px;
  transform: translate(0%, -90%);
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s ease;
  background: transparent;
  color: black;
  margin-top: 4rem;
  
}

.btn-login:hover {

  color:white;
 
  background-color:black;
}
.links{
  margin-top: 10px;
 display: flex;
 justify-content: space-between;


}
.links a {

  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
  

}




.logincontainer span {
  color: black;
  font-weight: 600;
  margin-left: 45%;

}



.logintheme-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  background: transparent;
  border: none;
}





/************signup*************************/
.signupbg{
  position: absolute;
   margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faf8ff;
  font-family: "Euclid Circular A";
  text-align: center;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.signup-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 350px;
  padding: 80px 0 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 10px 60px rgb(161, 162, 163)
}



.signup-card h2 {
  color: #2f2e41;
  margin: 0 0 6px;
}

.signup-card h3 {
  color: #69687a;
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 14px;
  align-self: stretch;
}

.signup-card input {
  display: block;
  height: 48px;
  width: 270px;
  margin: 0 40px;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  text-align: center;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.16);
  padding: 12px;
  margin-bottom: 8px;
}

.signup-card input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}

.signup-card button {
  display: block;
  height: 48px;
  width: 270px;
  margin: 0 40px;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  text-align: center;
  background: #9563ff;
  color: #000000;
  border: 0;
  cursor: pointer;
  transition: 0.175s;
}

.signup-card button:disabled {
  background: #9463ffb7;
  color: #000000;
  cursor: not-allowed;
}

.signup-card button.secondary {
  background: transparent;
  color: #7e7d8a;
}

.signup-card button[type="submit"] {
  margin-bottom: 8px;
}

.swiper {
  width: 100%;
}

/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.cardsdiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.carddiv {
  width: 30%;
  aspect-ratio: 1/1;
  flex-grow: 1;


}

.img {
  width: 100%;
  aspect-ratio: 1/1;

}



.userlist{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  color: #ffffff;
  box-shadow: 0px 15px 25px #000000;
}
.searchTerm {
  width: 100%;
  margin-top: 10px;
  border: none;
  padding: 5px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  outline: none;
  color: #000000;
}
/**********home*******************************/


.home{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  gap:1rem;

}
.home h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(0, 0, 0, 0.98);

  font-size: 2.4rem;
}

.home p {
  color: #000000;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
 
}
.homecard{
  border-radius: 28px;
  margin-top: 20px; 
  height:80vh; 
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  box-shadow: 0px 15px 25px #000000;
 

}
.inner-card{
  width: 100%;
  height: 85%;

 
}
.image-card{
 
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;

 
}
.image{
  border-radius: 0px 0px 20px 20px;
  width:100%;
  height: 100%;
}
.homebutton-wrapper{
  margin-top: 0px;
}

.btnhome {
  border: none;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btnhome + .btnhome {
  margin-left: 10px;
}

.outlinehome {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.6);

  
}


.fillhome {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;

}


/****************Image details******************************************/
.imgdet-main{
  display: flex;
  justify-content: center;

}
.imgdet-container{
  margin-top: 20px;
  height: 80vh;
  width: 350px;
  color: #fff;
  backdrop-filter: blur(5px);
  padding: 10px;
}
.imgdet-container p{
  font-size: large;

  
}
.imgdet-card{
  margin-top: 10px;
  height: 250px;
  width: 100%;
}
.imgdet-img{
  width: 100%;
  height: 100%;

}
.imgdet-container .edit-btn{
   background-color: #00b7ff;
   border: none;
   border-radius: 12px;
   padding: 10px 20px;
   margin-top: 15px;
   margin-left: 25%;

}
.imgdet-container .del-btn{
  text-decoration: none;
  padding: 1px 4px;
  border-radius: 4px;
  background: red;
  color: rgba(255,255,255,0.95);

}
/* Chat */
/* font-family: 'Poppins', sans-serif; */
:root {

  --light-gray: #7E878c;
  --dark-gray: #2e2a2a;
  --input: #1f1d1d;
  --white: #ffffff;

}

::-webkit-scrollbar {
  display: none;
}


.msgbg {

  height: 100vh;
  background-color: var(--bgdark);
}

.msgmain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 0px;

}

.msgmain header {
  background-color: var(--carddark);
  color: var(--inp);
  border-bottom: solid 0.01px var(--inpdark);
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.msgmain header button {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

div.tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.msgcontainer {
  background-color: var(--carddark);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

div.chat-window {
  width: 100%;
  background-color: var(--carddark);
  border-radius: 10px;

}

div.chat {
  height: 70vh;
  padding: 20px;
  overflow-y: auto;
}

div.user-join {
  font-size: 0.9rem;
  color: var(--dark-gray);
  background-color: var(--white);
  border-radius: 50px;
  width: max-content;
  padding: 7px 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}

div.message {
  color: var(--dark-gray);
  background-color: var(--white);
  padding: 5px 15px;
  width: fit-content;
  width: auto;
  min-width: 100px;
  max-width: max-content;
  margin-bottom: 15px;
  border-radius: 50px 50px 50px 50px;

}

div.message p {
  font-size: 16px;
}

div.send {
  margin-left: auto;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 50px 50px 50px 50px;
  text-align: right;
}

div.user-input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}

div.user-input input {
  font-size: 16px;
  color: var(--light-gray);
  background-color: var(--carddark);
  padding: 10px 20px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px 0 0 50px;
  box-shadow: 0px 6px 20px var(--dark-gray);

}

div.user-input button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: var(--white);
  background-color: var(--inp);
  border-radius: 0 50px 50px 0;
  box-shadow: 0px 6px 20px var(--dark-gray);
}

.msgnoti {
  height: 10px;
  width: 10px;
  background-color: #04ee10;
  border-radius: 50%;
  display: none;
}



div.recived {
  color: var(--dark-gray);
  background-color: #b6babd;

}
/*******************************upload image*************************/
.upload-container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-container .image-upload{
  display: flex;
  width: 800px;
  height: 400px;
  /* background-color: #FEFFFF; */
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  border-radius: 10px;
}
.upload-container .image-upload .image{
  width: 60%;
  height: 400px;
}
.upload-container .image-upload .details{
  width: 400px;
  height: 400px;
  /* background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%); */
  background-color: #FFFFFF;
}
/* details */
.upload-container .wrapper{
  width: 100%;
  padding: 20px;

}
.upload-container .input-data{
  height: 100%;
  width: 100%;
  position: relative; 
}
.upload-container  .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #3B82F6;
  color: #333333;
  font-weight: 700;   
  outline: none;
  background-color: transparent;         
}
.upload-container  .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.8s ease;
}
.upload-container .input-data input:focus ~label,
.upload-container .input-data input:valid ~label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #FF5858;
}
.upload-container .upimg{

  height: 350px;
  width: 300px;

  
}
.upload-container .image{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-container .details{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.upload-container  input:nth-child(1){
  margin-top: 20px;
}
.upload-container .details .btn{
  
  display: flex;
  justify-content: center;
}
.upload-container .details .btn button{
  
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
.upload-container .details .btn button:hover{
  cursor: pointer;
  background-color: #FF5858;
}

.upload-container i{
  font-size: 100px;
}
.upload-container .image:hover{
  cursor: pointer;
}
/************************userlist************************************/
.userlist-main{

  background-color:#ffffff;
  margin-top: 0%;
}
.userlist-container{
  height: 99vh;
  width:100%;
  padding: 20px;
  top: 0%;
  bottom: 0%;
  background-color: #fffbfb;

}
.userlist-heading{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items:center ;
  background-color:#b8aeae;
}
.userlist-heading h2{
margin-left:30px ;
}
.userlist-username{
  width: 100%;
  height:8vh;
  color: #000000;
  display: flex;
  align-items: center;
  margin-top: 3px;
}
.userlist-username p{
  font-size: 20px;
  margin-left: 30px;
}
/*************verify user*********************************/
.userverifi-container{
  border-radius: 2rem;
  box-shadow: 5px 5px 25px #000000;
  margin-top: 4rem;
  width: 70vw;

}
.userverifi-main{
  display: flex;
  justify-content: center;
  background-color: rgb(253, 253, 253);
  
}
.userverifi-card{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-top: 5rem;
  width: 50vw;


  
}
.userverifi-inp{
  
  width: 300px;
  height: 80px;
 
  
}
.userverifi-inp label{
  text-transform: capitalize;

}
.userverifi-inp input {
  border-radius: 5px;
  width: 100%;
  height: 50%;
  border: 1px solid rgb(165, 162, 162);
  background-color: rgb(247, 240, 240);
  outline: none;
  transition: .4s ease-in-out;
}

.userverifi-inp input:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
}

.userverifi-inp input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}




.form {

    background-color: #fff;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    border: 1px solid rgb(159, 159, 160);
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 280px;
  }
  
  .form-title {
    color: #000000;
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105, 105, 105);
  }
  
  .drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: #444;
    cursor: pointer;
    
  }
  
 #file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
  }
  
  #file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  #file-input::file-selector-button:hover {
    background: #0d45a5;
  }
  .userverifi-button{
 
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  .userverifi-button button {
    width: 150px;
    height: 60px;
    margin-bottom: 2rem;
    border: 3px solid #084cdf;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  .userverifi-button button:hover {
    background: #084cdf;
    color: white;
    font-size: 1.5em;
  }
  /************************************************/
@media screen and (max-width:450px) {
  .loginmain {

    width: 100%;
    height: 110%;
  }



  .logincontainer {
    top: 40%;
    height: 50vh;
    width: 85vw;

  }

  .links a {

    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

    
  
  }
  .btn-login {

    padding: 0.3rem 6.2rem;
    margin-left: 3px;

  
  }
  .msgmain {

    top: 0%;
    left: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    width: 100%;
    overflow: hidden;
    border-radius: 0px;

  }

  div.message {
    color: var(--dark-gray);
    background-color: var(--white);
    padding: 5px 15px;
   
    width: fit-content;
    width: auto;
    min-width: 70px;
    max-width: max-content;
    margin-bottom: 10px;
    border-radius: 50px 50px 50px 50px;

  }

  div.send {
    margin-left: auto;
    color: var(--white);
    background-color: var(--light-blue);
    border-radius: 50px 50px 50px 50px;
    text-align: right;
  }
  .homecard{
    height:75vh; 

  }
  .imgdet-container{
    height: 90vh;
    width: 90vw;
    

}

.imgdet-card{
    margin-top: 10px;
    height: 250px;
    width: 100%;
}
.userlist-container{
  height: 90vh;
  width: 90vw;
  

}
.userverifi-container{

  width: 90vw;
  display: grid;

}
.userverifi-card{

  display: grid;
  grid-template-columns: repeat(1,2fr);
  gap: 1rem;

  
}

}

@media screen and (min-width:450px) and (max-width:1200px) {


  .msgmain {

    top: 0%;
    left: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    width: 100%;
    overflow: hidden;
    border-radius: 0px;

  }

  div.message {
    color: var(--dark-gray);
    background-color: var(--white);
    padding: 3px 15px;

    width: fit-content;
    min-width: 70px;
    max-width: max-content;
    margin-bottom: 10px;
    border-radius: 50px 50px 50px 50px;
  }

  div.send {
    margin-left: auto;
    color: var(--white);
    background-color: var(--light-blue);
    border-radius: 50px 50px 50px 50px;
    text-align: right;
  }
  .userlist-container{
    height: 90vh;
    width: 90vw;
    

}
.userverifi-container{

  width: 90vw;
  

}
.userverifi-card{

  display: grid;
  grid-template-columns: repeat(1,2fr);
  gap: 1rem;

  
}

}

/******************/
/*user list*/
.no-link {
  color: inherit;
  text-decoration: none;
}






/********************************/
/* Header Navbar */


.header {
  width: 100%;
  height: 60px;
  background-color: var(--light-blue);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.header__content {
  width: 100%;

  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__home {
  margin-top: 5px;
  text-decoration: none;
  color: var(--bgdark);
}


.fill {
  fill: var(--bgdark);
  stroke: var(--bgdark);
}





.header__buttons {
  display: flex;
  align-items: center;
  gap: 26px;

}


.theme-btn-sun {
  fill: #ddd8d8;
}

/*************************************************/

/***********************admin********************/


.admin-container{
  background-color: rgb(5, 0, 5);
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center; 
 
}
.admin-main{

  margin-top: 120px;
  height: 70vh;
  display: grid;

}
.admin-main a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font: 3em sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 350px;
  height: 100px;
  border-radius:20px ;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 20px -4px #ffffff;
  
}
.admin-main a:hover
 {
  color: rgb(5, 5, 5);
  box-shadow: 0px 0px 20px 10px #ffffff;
  background-color: #ffffff;
  
}
/************************userverification*******************/
.veri-container {
  height: 100%;
  margin: 0%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1,3fr);
  gap: 0.8rem;

  
}
.veri-card{

  height: 250px;
  display: flex;
  align-items: center;
  border: 2px solid #9e9a9a;
}
.veri-doc{
  margin-left: 50px;
  height: 200px;
  width: 350px;
 
  
}
.veri-det{
  margin-left: 50px;
  height: 200px;
  width: 450px;

  display: flex;
  padding: 10px;

  
}
.veri-user-det{

  height: 180px;
  width: 300px;
 
  
  
}
.veri-det-btn{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  height: 180px;
  width:150px;
 
  
  
}
.doc{
  height: 100%;
  width: 100%;
  
}
.veri-btn{
 
  display: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
  margin-bottom: 2rem;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  background: rgb(255, 253, 253);
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}
.ac{
  color: #38a317;
  border: 2px solid #38a317;
}
.re{
  color: #ff0000;
  border: 2px solid #ff0000;
}
.ac:hover{
  color: black;
  background-color: #38a317;
}
.re:hover{
  color: black;
  background-color: #ff0000;
}