@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
  }
/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}
.cardsdiv{
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
.carddiv{
  height: 125px;
  flex: 0 0 120px;
  border: solid 1px;
  border-color: gray;
}
/* @keyframes shake{
  0%,100%{ translate: 0;}
  25%{translate: 8px 0;}
  75%{translate: -8px 0;}
}
input{
  width: 210px;
  height: 56px;
  padding: 0 16px;
  background: transparent;
  border-radius: 4px;
  border:1px solid #fe4567;
  color:#f9f9f9;
  animation: shake 0.14s 3;
}
input:valid{
  border-color: #45feaf;
  animation: none;
} */

/* Vars */
:root {
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 98%);
  --border: hsl(0, 0%, 86%);

  --story-border: hsl(0, 0%, 78%);
  --img-border: hsla(0, 0%, 0%, 0.1);

  --text-dark: hsl(0, 0%, 15%);
  --text-light: hsl(0, 0%, 60%);

  --like: hsl(355, 82%, 61%);
  --link: hsl(204, 100%, 48%);

  --header-height: 44px;
  --nav-height: 44px;
}
:root.darkTheme {
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 2%);
  --border: hsl(0, 0%, 15%);

  --story-border: hsl(0, 0%, 44%);
  --img-border: hsla(0, 0%, 100%, 0.1);

  --text-dark: hsl(0, 0%, 98%);
  --text-light: hsl(0, 0%, 60%);
}

/* -------------------------------------------------- */

/* General Styles */
body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

svg {
  display: block;
}

img {
  max-width: 100%;
}

/* Header Navbar */
.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary);
  
    display: flex;
    justify-content: center;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .header::after {
    content: '';
    position: absolute;
    bottom: 0;
  
    width: 100%;
    height: 1px;
    background-color: var(--border);
  }
  
  .header__content {
    width: 100%;
    max-width: 975px;
  
    padding: 0 14px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__home {
    margin-top: 5px;
  }
  .header__theme-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .header__theme-button-sun {
    display: none;
  }
  .header__theme-button-moon {
    display: unset;
  }
  :root.darkTheme .header__theme-button-sun {
    display: unset;
  }
  :root.darkTheme .header__theme-button-moon {
    display: none;
  }
  
  .header__search {
    width: 216px;
    height: 28px;
  
    display: none;
    align-items: center;
    position: relative;
  }
  .header__search svg {
    width: 12px;
    height: 12px;
  
    position: absolute;
    left: 8px;
  }
  .header__search input {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
  
    padding: 4px 10px 4px 28px;
    border: 1px solid var(--border);
    border-radius: 4px;
    outline: none;
  
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-light);
  
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .header__search input:focus {
    color: var(--text-dark);
  }
  
  .header__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  @media (max-width: 767px) {
    .header__buttons--desktop {
      display: none;
    }
  
    /* Fix post medias indicators bugs on mobile */
    .post__medias {
      gap: 1px;
    }
  }
  
  @media (min-width: 620px) {
    .content-container {
      padding: 30px 0 24px;
    }
  
    .content {
      gap: 24px;
    }
  
    .stories {
      border: 1px solid var(--border);
      border-radius: 4px;
    }
    .stories::after {
      content: none;
    }
  
    .posts {
      gap: 24px;
    }
    .post {
      border: 1px solid var(--border);
      border-radius: 4px;
    }
    .post__footer {
      padding: 4px 8px 12px;
    }
    .post__date-time {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 768px) {
    :root {
      --header-height: 54px;
      --nav-height: 0px;
    }
  
    .header__content {
      padding: 0 20px;
    }
  
    .header__search {
      display: flex;
    }
  
    .header__buttons--mobile {
      display: none;
    }
  
    .navbar {
      display: none;
    }
  }